@font-face {
  font-family: "Akira";
  src: url("/fonts/AkiraExpandedDemo.otf");
}

@font-face {
  font-family: "Favorit Bold";
  src: url("/fonts/ABCFavoritExpanded-Bold-Trial.otf");
}

@font-face {
  font-family: "Favorit Regular";
  src: url("/fonts/ABCFavoritExpanded-Regular-Trial.otf");
}
