.background-title {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    position: absolute;
    font-family: "Akira";

    writing-mode: vertical-lr;
    font-weight: 900;
    font-size: 140px;

    left: 0;

    margin: 0;

    color: transparent;

    transform: rotate(180deg) translate(-7px, 0%);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  }
}

a {
  color: inherit;
  text-decoration: none;
  color: rgba($color: white, $alpha: 0.5);

  &:hover {
    color: white;
  }
}

#small {
  font-size: 95px !important;
  transform: rotate(180deg) translate(-35px, 0%);
}

#medium {
  font-size: 84px !important;
  transform: rotate(180deg) translate(-40px, 0%);
}

#regular {
  font-size: 115px !important;
  transform: rotate(180deg) translate(-25px, 0%);
}
